<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CharacterEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CharacterEditor.Properties.Settings>
      <setting name="DefaultStoragePath" serializeAs="String">
        <value />
      </setting>
    </CharacterEditor.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="characterEditorTraceListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="Log.txt" 
              traceOutputOptions="ProcessId, DateTime, Callstack"/>
        <!--<add name="characterEditorErrorTraceListener"
      type="System.Diagnostics.XmlWriterTraceListener"
              traceOutputOptions="ProcessId, DateTime, Callstack"
      initializeData="ErrorLog.xml" />-->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>